/* General */
body {
    font-family: 'Montserrat', sans-serif;;
}

#app {
    display: flex;
    flex-direction: column;
}

.panel {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

/* Score */
.scores {
    display: flex;
}

.score {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score h1 {
    font-weight: 300;
    font-size: 1.6rem;
}

.bar {
    width: 80%;
    height: 20px;
    border: 1px solid #666;
    margin: 10px 0 5px;
}

.bar .life {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: green;
}

.bar .life.danger {
    background-color: red;
}

.bar .energy {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: cyan;
}

.bar .energy.tired {
    background-color: darkcyan;
}

.bar .fury {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: darkorange;
}

.bar .fury.ready {
    background-color: darkred;
}

.result {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.result .win {
    color: green;
}

.result .lose {
    color: red;
}

/* Game control */
.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.new-game {
    background-color: #4253af;
    color: whitesmoke;
}

.attack {
    background-color: #e51c23;
    color: whitesmoke;
}

.especial-attack {
    background-color: #ff9800;
    color: black;
}

.rest {
    background-color: #259b24;
    color: whitesmoke;
}

.give-up {
    background-color: #000;
    color: whitesmoke;
}

/* Logs */

.logs ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.logs ul li {
    display: flex;
    justify-content: center;
    margin: 4px 0;
    padding: 3px 0;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-radius: 3px;
}

.playerAttack {
    background-color: #4253afaa;
    color: whitesmoke;
}

.monsterAttack {
    background-color: #e51c23aa;
    color: whitesmoke;
}

.playerRest {
    background-color: #259b24aa;
    color: whitesmoke;
}

.playerTired {
    background-color: #01375aaa;
    color: whitesmoke;
}